<div>
  <div class="row marketing">
    <h4>Alcohol By Volume</h4>
    <form name="brewDayForm" ng-controller="AbvCalcCtrl" class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="og">Original Gravity</label>
        <div class="controls">
          <input ng-model="og" class="input-sm" style="width:80px;" id="og" focus required />
          <span> <strong>at</strong> </span>
          <select ng-init="ogTemp" ng-model="ogTemp" ng-options="i for i in degreesF" class="input-select" id="ogTemp" required></select>
          <span style="font-weight:bold;">&deg;</span> Fahrenheit
        </div>

        <label class="control-label" for="fg">Final Gravity</label>
        <div class="controls">
          <input ng-model="fg" class="input-sm" style="width:80px;" id="fg" required />
          <span> <strong>at</strong> </span>
          <select ng-init="fgTemp" ng-model="fgTemp" ng-options="i for i in degreesF" class="input-select" id="fgTemp" required></select>
          <span style="font-weight:bold;">&deg;</span> Fahrenheit
        </div>

        <div>
          <label class="control-label" for="abv">ABV</label>
          <span id="abv">{{abv()}}</span>
        </div>
      </div>
    </form>
  </div>
</div>
